[core]
  attributesFile = ~/.gitattributes
[user]
  email = neelshah.sa@gmail.com
  name = Neel Shah
[core]
  excludesfile = /home/neel/.gitignore_global
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true  # use n and N to move between diff sections
  line-numbers = true
  true-color = always
  hunk-header-style = file line-number
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[diff "gz"]
  textconv = zcat
  binary = true
[difftool "diffpdf"]
  cmd = diff-pdf --view \"$LOCAL\" \"$REMOTE\"
