[user]
	email = neelshah.sa@gmail.com
	name = Neel Shah
[core]
	excludesfile = /home/neel/.gitignore_global
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true  # use n and N to move between diff sections
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
