* {
  font-size:14px;
  font-family: FontAwesome, sans-serif;
}

window#waybar{
  all:unset;
}

.modules-left {
  padding: 0px 2px;
  border-radius: 10px;
  background: alpha(#282828,.6);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

.modules-right {
  padding: 0px 2px;
  border-radius: 10px;
  background: alpha(#282828,.6);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

#workspaces button {
  color: #fbf1c7;
  background: transparent;
  border-radius: 2px;
}

#workspaces button.active {
  color: #fe8019;
}

#workspaces button.urgent {
  color: #cc241d;
}

#workspaces button:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  color: #d65d0e;
  border-color: #d65d0e;
}

#clock:hover {
  transition: all .3s ease;
  color: #d65d0e;
}

#clock {
  padding: 0 5px;
  color: #fbf1c7;
  transition: all .3s ease;
}
