* {
  font-size: 14px;
  font-family: DejaVuSansM Nerd Font Propo;
  font-weight: lighter;
}

window#waybar{
  all:unset;
}

.modules-left {
  margin: 0px 2px;
  padding: 0px 2px;
  border-radius: 10px;
  background: alpha(#282828,.6);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

.modules-right {
  margin: 0px 2px;
  padding: 0px 2px 0px 10px;
  border-radius: 10px;
  background: alpha(#282828,.6);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

#workspaces button {
  border-radius: 10px;
  color: #fbf1c7;
}

#workspaces button.active {
  color: #fe8019;
}

#workspaces button.urgent {
  color: #cc241d;
}

#custom-hyprwhspr.recording {
  color: #cc241d;
}

#custom-hyprwhspr.stopped {
  color: inherit;
}

#custom-hyprwhspr.error {
  color: #d97706;
}

#workspaces button:hover, #clock:hover, #network:hover, #cpu:hover, #language:hover,
#memory:hover, #temperature:hover, #pulseaudio:hover, #custom-power:hover, #custom-hyprwhspr:hover {
  transition: all .5s ease;
  box-shadow: inherit;
  text-shadow: inherit;
  color: #d65d0e;
  border-color: #d65d0e;
}

#pulseaudio, #network, #cpu, #memory, #temperature, #language, #custom-hyprwhspr {
  margin-right: 5px;
  transition: all .5s ease;
}
